<!--@if (isAddingTask) {-->
<!--  <app-new-task [userId]="userId" (close)="onCloseAddTask()" />-->
<!--}-->

<ng-container *ngIf="isAddingTask">
  <app-new-task [userId]="userId" (close)="onCloseAddTask()"/>
</ng-container>

<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>

  <ul>
      <li *ngFor="let userTask of selectedUserTasks">
        <app-task [task]="userTask" />
      </li>
  </ul>
</section>

